.common-table-layout {
  .layout-search {
    padding: 12px 12px 0;
    background: var(--el-bg-color);
  }

  .layout-body {
    box-sizing: border-box;
    margin: 12px;
    background: var(--el-bg-color);
  }

  .layout-pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
  }

  .layout-operation {
    margin-bottom: 12px;

    .operation-left {
      :deep(button) {
        margin-right: 12px;
      }
    }

    .operation-right {
      display: flex;
      justify-content: flex-end;

      :deep(button) {
        margin-left: 12px;
      }
    }
  }
}
