:root.dark {
  --el-input-border-color: #233769;
  --el-color-primary: #2487ff;
  --el-color-primary-light-1: #01397e; /* 最深 */
  --el-color-primary-light-2: #003d8f;
  --el-color-primary-light-3: #004ca8;
  --el-color-primary-light-4: #0060c7;
  --el-color-primary-light-5: #0074e0;
  --el-color-primary-light-6: #0085f0;
  --el-color-primary-light-7: #0070f8;
  --el-color-primary-light-8: #2486fd; /* 主色相近 */
  --el-color-primary-light-9: #b6d7ff; /* 最浅 */

  /* 成功色 - 绿色系 */
  --el-color-success: #26be6e;
  --el-color-success-light-1: #143239; /* 最深 */
  --el-color-success-light-2: #164a3f;
  --el-color-success-light-3: #1b6c4f;
  --el-color-success-light-4: #1d8558;
  --el-color-success-light-5: #209d60;
  --el-color-success-light-6: #23b068;
  --el-color-success-light-7: #208d5b;
  --el-color-success-light-8: #26be6e; /* 主色 */
  --el-color-success-light-9: #069448; /* 最浅 */

  /* 警告色 - 橙色系 */
  --el-color-warning: #fd7600;
  --el-color-warning-light-1: #342729; /* 最深 */
  --el-color-warning-light-2: #5d3120;
  --el-color-warning-light-3: #874818;
  --el-color-warning-light-4: #b85b0d;
  --el-color-warning-light-5: #e66a00;
  --el-color-warning-light-6: #fd7100;
  --el-color-warning-light-7: #fd9f4d;
  --el-color-warning-light-8: #fd7600; /* 主色 */
  --el-color-warning-light-9: #cb4900; /* 最浅 */

  /* 错误色 - 红色系 */
  --el-color-danger: #d2433b;
  --el-color-danger-light-1: #2e1f32; /* 最深 */
  --el-color-danger-light-2: #4d2435;
  --el-color-danger-light-3: #712e36;
  --el-color-danger-light-4: #8f3338;
  --el-color-danger-light-5: #ab383a;
  --el-color-danger-light-6: #c33e3a;
  --el-color-danger-light-7: #983737;
  --el-color-danger-light-8: #d2433b; /* 主色 */
  --el-color-danger-light-9: #c01408; /* 最浅 */
  --el-color-error: var(--el-color-danger);
}

:root {
  --el-input-border-color: #dcdde1;

  /* 主题色 */
  --el-color-primary: #0254b8;
  --el-color-primary-light-9: #e6eef8;
  --el-color-primary-light-8: #c8dcfa;
  --el-color-primary-light-7: #9abbe3;
  --el-color-primary-light-6: #6e96d2;
  --el-color-primary-light-5: #4d87cd;
  --el-color-primary-light-4: #3278c8;
  --el-color-primary-light-3: #1e64be;
  --el-color-primary-light-2: #0f55b4;
  --el-color-primary-light-1: #0546aa;
  --el-color-primary-dark-1: #014fae;
  --el-color-primary-dark-2: #074189;

  /* 成功色 */
  --el-color-success: #26bf6e;
  --el-color-success-light-9: #def4e8;
  --el-color-success-light-8: #d1f1df;
  --el-color-success-light-7: #91deb5;
  --el-color-success-light-6: #75d59f;
  --el-color-success-light-5: #47c77f;
  --el-color-success-light-4: #2fb96e;
  --el-color-success-light-3: #68d299;
  --el-color-success-light-2: #26bd6e;
  --el-color-success-light-1: #069348;
  --el-color-success-dark-1: #20ac62;
  --el-color-success-dark-2: #069548;

  /* 警告色 */
  --el-color-warning: #fd7600;
  --el-color-warning-light-9: #fdead8;
  --el-color-warning-light-8: #ffe1cc;
  --el-color-warning-light-7: #fdba7e;
  --el-color-warning-light-6: #ffa566;
  --el-color-warning-light-5: #ff8733;
  --el-color-warning-light-4: #f70;
  --el-color-warning-light-3: #fd9f4d;
  --el-color-warning-light-2: #fd7600;
  --el-color-warning-light-1: #cd4a00;
  --el-color-warning-dark-1: #e66b00;
  --el-color-warning-dark-2: #cc5f00;

  /* 错误色 */
  --el-color-danger: #d3433b;
  --el-color-danger-light-9: #f7e2e1;
  --el-color-danger-light-8: #f7d5d3;
  --el-color-danger-light-7: #e8a09c;
  --el-color-danger-light-6: #e7817b;
  --el-color-danger-light-5: #df574f;
  --el-color-danger-light-4: #d3433b;
  --el-color-danger-light-3: #e07b75;
  --el-color-danger-light-2: #d2433b;
  --el-color-danger-light-1: #c01408;
  --el-color-danger-dark-1: #bd3c35;
  --el-color-danger-dark-2: #a7352f;
  --el-color-error: var(--el-color-danger);

  /* 灰色系 */
  --el-color-info: #a9a9a9;
  --el-color-info-light-9: #f5f5f5;
  --el-color-info-light-8: #ebebeb;
  --el-color-info-light-7: #d7d7d7;
  --el-color-info-light-6: #c3c3c3;
  --el-color-info-light-5: #afafaf;
  --el-color-info-light-4: #a9a9a9;
  --el-color-info-light-3: #979797;
  --el-color-info-light-2: #858585;
  --el-color-info-light-1: #737373;
  --el-color-info-dark-1: #979797;
  --el-color-info-dark-2: #858585;

  /* 文本色 */
  --el-text-color-primary: #13151a;
  --el-text-color-regular: #13151a;
  --el-text-color-secondary: #a0a0a2;
}
