.CommonDialog {
  --el-dialog-font-line-height: 40px;
  --el-dialog-border-radius: 18px;

  .el-dialog__footer {
    button {
      margin-left: 12px;
    }
  }
}

.modalBlur {
  backdrop-filter: blur(4px);
}
