// 引入 colStyle mixin
@use './formStyle';

.commonForm {
  // form small
  --el-component-size-small: 28px;
  --el-border-radius-base: 1px;

  .el-input,
  :deep(.el-select) {
    --el-input-text-color: var(--el-text-color-primary);
    --el-input-hover-border-color: #4d87cd;
    --el-input-focus-border-color: #0254b8;
  }

  :deep(.el-input__inner) {
    font-family: var(--el-font-family);
  }

  .is-error :deep(.el-input__wrapper):hover {
    --el-color-danger: rgb(211 67 59 / 60%);
  }

  .is-error :deep(.el-input__inner):not(:focus) {
    font-weight: 800;
  }

  .is-error :deep(.el-input__inner::placeholder) {
    font-weight: normal;
  }

  :deep(.el-select__wrapper.is-focused) {
    box-shadow: 0 0 0 1px var(--el-input-focus-border-color) inset;
  }

  :deep(.el-select__wrapper.is-hovering) {
    box-shadow: 0 0 0 1px var(--el-input-hover-border-color) inset;
  }

  :deep(.el-form-item__error) {
    padding-left: 14px;

    &::before {
      position: absolute;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 12px;
      height: 12px;
      font-size: 8px;

      // 颜色取反
      color: #fff;
      content: '!';
      background-color: var(--el-color-danger);
      border-radius: 50%;
    }
  }

  :deep(.el-form-item--small .el-form-item__label) {
    height: var(--el-component-size-small);
    font-size: var(--el-font-size-base);
    line-height: var(--el-component-size-small);
  }

  :deep(.el-select--small .el-select__wrapper) {
    min-height: var(--el-component-size-small);
  }

  // 时间选择器宽度铺满
  :deep(.el-date-editor) {
    --el-date-editor-width: 100%;
  }

  @include formStyle.col-style;
}
