@use './tableBaseStyle';

.commonTable {
  --el-component-size: 28px;

  .el-input,
  :deep(.el-select) {
    --el-input-text-color: var(--el-text-color-primary);
    --el-input-hover-border-color: var(--el-color-primary);
    --el-input-focus-border-color: var(--el-color-primary);
  }

  :deep(.el-select__wrapper.is-focused) {
    box-shadow: 0 0 0 1px var(--el-input-focus-border-color) inset;
  }

  :deep(.el-select__wrapper.is-hovering) {
    box-shadow: 0 0 0 1px var(--el-input-hover-border-color) inset;
  }

  @include tableBaseStyle.border-style;
}

.commonTableSymbol {
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    position: absolute;
    content: attr(bindUnit);
  }
}

.commonTableSingleSelection {
  :deep(.el-table__header) .el-table-column--selection .el-checkbox {
    display: none;
  }
}
